
/* ****************** Navbar  ***************************** */
.nav_bar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 3rem;

}

.nav_list {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.nav_list li {
  list-style: none;
}