@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.nav-item {
  font-size: 1.2rem; 
  font-weight: bold; 
  padding-left: 2rem;
  text-decoration-color: black;
}

/* } This prop was added to make the collapse transition smoother. Added as well a div arround the immediate collapse child and specified the margin and padding zero. what it does, it moves the button back and forward and not displaying the collapse. Still not working :( */
.navbar-collapse {
  transition: height 0.6s ease;
}



.skills-section {
  background-color: #e1d6c4;
}
.skills-icon {
  background-color: #e1d6c4;
  border: 1px solid black;
}

.other-project {
  background-color: #7c96a0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.my-image {
  opacity: 0.3;
  border-radius: 350px;
  padding-bottom: 3rem;
}

.desktopimage {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.text-light {
  color: white;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.footer-nav-item {
  font-size: 1.2rem; 
  font-weight: bold; 
  text-decoration-color: black;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}

.bottom-section {
  padding: 20px;
  background-color: #e1d6c4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
              0 6px 20px rgba(0, 0, 0, 0.19); /* Adds depth */
  transform: translateZ(0); /* Flat surface initially */
}


/* ************ experiment ******** */



.skills-icon figure img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.skills-icon figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* Shine */
.add-shine figure {
	position: relative;
}
.add-shine figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.add-shine figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}






















/* ****************** Navbar  ***************************** */

/* .navigation {
  background-color: #e3d3c3;
  margin-bottom: 0;
}
.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem 0 3rem;
  max-height: fit-content;
}

.nav_list_container {
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  list-style-type: none;
}

.nav_list li a {
  text-decoration: none;
  color: black;
} */

/* ******************** Intro section ************************** */

/* .intro_section {
  display: flex;
  padding: 6rem 0 8rem 0;
  background-color: #e3d3c3;
}

.intro_text_section {
  max-width: 35%;
  margin: 10rem;
  text-align: center;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}

.my_photo {
  opacity: 0.4;
}

.my_photo img {
  border-radius: 200px;
} */

/* ******************** Skills section ************************** */
/* .skillSection {
  display: flex;
  direction: row;
  justify-content: space-between;
  padding-top: 5rem;
}

.listedSkills {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;

}

.card {
  text-align: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.skills_text_section {
  max-width: 35%;
  margin: 10rem;
  text-align: center;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
} */

/* *************************** Projects Section ************************** */

/* .projects_section {
  display: flex;
  direction: row;
  justify-content: space-between;
  padding-top: 5rem;
  background-color: #e3d3c3;
}

.projects_text {
  max-width: 35%;
  margin: 10rem;
  text-align: center;
  line-height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
} */